/* ────────────────────────────────
   HOME CONTENT
────────────────────────────────── */
.homecontentcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100vw;
  padding-bottom: 100px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

/* Sağ taraf (3D / küre alanı) */
.homecardright {
  position: absolute;
  z-index: 0;
  width: 80%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Sol model alanı */
.bannerlistview,
.homecardtexts {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Metin alanı */
.homecardtexts {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Buton grid */
.buttongridcard {
  width: 100%;
  display: flex;
  gap: .75rem;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}

/* Link butonları */
.cardlink {
  font-size: 1.125rem; /* 18px */
  padding: .75rem 1.5rem;
  border: none;
  cursor: pointer;
}

/* Filled */
.filledcardlink {
  background: var(--main-color);
  color: var(--color-white);
}

/* Line button */
.linecardlink {
  position: relative;
  background: var(--foreground);
  color: var(--foreground);
  clip-path: var(--clip-bottom-right);
  z-index: 0;
}

.linecardlink::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--background);
  z-index: -1;
  clip-path: var(--clip-bottom-right);
}

/* Banner */
.homebanner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner üstü içerik */
.bannercontentcontainer {
  position: absolute;
  inset: 0;
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Başlık */
.homebannertitle {
  font-size: 4rem;
  font-weight: 700;
}

/* ────────────────────────────────
   MOBILE
────────────────────────────────── */
@media (max-width: 768px) {

  .homecardright {
    position: relative;
    flex-direction: column;
    width: 80%;
    height: auto;
  }

  .homebannertitle {
    font-size: 1.5rem; /* 24px */
  }

  .bannerlistview,
  .homecardtexts {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    align-items: center;
    text-align: left;
  }

  .homecardtexts {
    gap: 0;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 14rem 0.75rem 0;
  }

  .buttongridcard {
    justify-content: center;
    padding: 1rem 0;
  }

  .cardlink {
    font-size: .875rem; /* 14px */
    padding: .6rem 1.2rem;
  }

  .homebanner {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .homecontentcontainer {
    padding: 1.5rem .75rem;
    min-height: min-content;
  }
}
