

.footer {
  width: 100%;
  background-color: var(--background-2);
  padding: 2rem;
  border-top: 1px solid var(--foreground-2);
}

.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  display: block;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  color: var(--footer-link);
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: var(--footer-link-hover);
}

.copyright {
  font-size: 0.9rem;
  color: var(--footer-text);
  text-align: center;
}
.switchersgrid{
 display: none;
}


@media (min-width: 768px) {
.switchersgrid{
  display: flex;
  width: 90%;
  justify-content: end;
}
  .content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    align-items: flex-start;
  }

  .links {
    justify-content: flex-end;
  }
}
